@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}
.container {
  width: 80%;
  margin: auto;
}
/* section */
.section {
  text-align: center;
  overflow: auto;
  width: 100%;
  background-image: url(../img/bg-header-desktop.png);
  background-position: center;
  background-size: cover;
}
.section .logo img {
  width: 70px;
  margin-bottom: 40px;
  margin-top: 80px;
}

.section .txt1 {
  width: fit-content;
  margin: auto;
  font-size: 46px;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
.section .txt2 {
  font-weight: 600;
  width: 558.1;
  color: hsl(201, 11%, 66%);
  margin-top: 15px;
  padding: 0px 470px;
  margin-bottom: 45px;
}

.section .btn1 {
  box-shadow: -5px 4px 27px -11px hsl(171, 66%, 44%);
  width: 160px;
  background-color: hsl(171, 66%, 44%);
  color: white;
  border: none;
  padding: 5px;
  margin: auto;
  margin-bottom: 200px;
  border-radius: 20px;
  height: 45px;
}
.btn1:hover{
  background-color: hsla(171, 66%, 44%, 0.858);
}
.section .btn2 {
  box-shadow: -5px 4px 27px -11px hsl(233, 100%, 69%);
  width: 160px;
  background-color: hsl(233, 100%, 69%);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 20px;
  height: 45px;
}
.btn2:hover{
  background-color: hsla(233, 100%, 69%, 0.858);
}
/* end section */
/* section2 */
.section2 {
  width: 100%;
  overflow: auto;
}

.section2 .txt1 {
  text-align: center;
  width: fit-content;
  margin: auto;
  font-size: 36px;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
.section2 .txt2 {
  font-weight: 600;
  text-align: center;
  width: 558.1;
  color: hsl(201, 11%, 66%);
  margin-top: 15px;
  padding: 0px 470px;
  margin-bottom: 45px;
}
.section2 .monitor-img {
  margin-top: 50px;
  float: left;
  margin-left: -220px;
}
.section2 .desc {
  width: fit-content;
  margin-left: 700px;
  margin-top: 200px;
}
.desc h3 {
  text-align: left;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
.desc p {
  width: 350px;
  font-weight: 600;
  text-align: left;
  color: hsl(201, 11%, 66%);
}
.desc .txtb {
  margin-top: 80px;
}
.desc .txtc {
  margin-top: 80px;
}
/*  end section2 */
/* section3  */
.section3 {
  margin-top: 150px;
  width: 100%;
  overflow: auto;
}
.section3 .txt1 {
  width: fit-content;
  margin: auto;
  font-size: 36px;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
.section3 .txt2 {
  font-weight: 600;
  text-align: center;
  width: 1600px;
  color: hsl(201, 11%, 66%);
  margin-top: 20px;
  padding: 0px 470px;
  margin-bottom: 45px;
}
.section3 .device {
  text-align: center;
  margin-top: 90px;
}
/* end section 3 */
/* section4 */
.section4 {
  margin-top: 150px;
  width: 100%;
  overflow: auto;
}
.section4 .txt1 {
  width: fit-content;
  margin: auto;
  font-size: 36px;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
.section4 .txt2 {
  font-weight: 600;
  text-align: center;
  width: fit-content;
  margin: auto;
  color: hsl(201, 11%, 66%);
  margin-top: 20px;
  padding: 0px 470px;
  margin-bottom: 45px;
}
.section4 .conta1{
  overflow: auto;
  width: 100%;
}
.conta1 .div1{
  text-align: center;
  width: 33.33%;
  float: left;
  margin-bottom: 80px;
}
.conta1 h3{
  color: hsl(210, 10%, 33%);
  margin-top: 30px;
}
.conta1 p{
  margin:auto ;
  width: 370px;
  color: hsl(201, 11%, 66%);
  margin-top: 15px;
}
.conta1 .div2{
  text-align: center;
  width: 33.33%;
  float: left;
  margin-bottom: 80px;
}
.conta1 .div2 h3{
  margin-top: 38px;
}
.conta1 .div3{
  text-align: center;
  width: 33.33%;
  float: left;
  margin-bottom: 80px;
}
.conta1 .div3 h3{
  margin-top: 38px;
}
.cont2{
  width: 100%;
  overflow: auto;
}
.cont2 .diva{
width: 20%;
margin: auto;
padding: 80px;
padding-left: 100px;
float: left;
}
/* end section 4 */
/* section 5 */
.section5{
  overflow: auto;
  margin: auto;
  width: 100%;
}
.section5 .txt1 {
  text-align: center;
  width: fit-content;
  margin: auto;
  font-size: 36px;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}
.section5 .txt2 {
  font-weight: 600;
  text-align: center;
  width: 1040px;
  color: hsl(201, 11%, 66%);
  margin-top: 15px;
  /* padding: 0px 360px; */
  padding-left: 410px;
  margin-bottom: 45px;
}
.section5 .btn-logo {
  width: 100%;
  overflow: auto;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 50px;
  padding-left: 35%;
}
.section5 .btn1 {
  box-shadow: -5px 4px 27px -11px hsl(171, 66%, 44%);
  width: 160px;
  background-color: hsl(171, 66%, 44%);
  color: white;
  border: none;
  padding: 5px;
  margin: auto;
  margin-bottom: 200px;
  border-radius: 20px;
  height: 45px;
}
.btn1:hover{
  background-color: hsla(171, 66%, 44%, 0.858);
}
.section5 .btn2 {
  box-shadow: -5px 4px 27px -11px hsl(233, 100%, 69%);
  width: 160px;
  background-color: hsl(233, 100%, 69%);
  color: white;
  border: none;
  padding: 5px;
  margin-left: 15px;
  border-radius: 20px;
  height: 45px;
}
.btn2:hover{
  background-color: hsla(233, 100%, 69%, 0.858);
}
/* end section 5 */